.title {
    font-size:calc(1.5vh + 1.5vw + 2.0em);
    width:100%;
}
.image {
    background-image: url('src/assets/img/AnivMed.jpg');
}
.text {
    color:black;
    text-align: left;
}
ul {
    margin-left:10vw;
}
@media screen and (max-width:500px) and (max-height:900px) {
    ul {
        margin-left:5vw
    }
}

@media screen and (max-width:900px) and (max-height:500px) {
    ul {
        margin-left:10vw;
    }    
}