<div id="who-are-we" class="full-page pad-content" 
                     style="background-color: transparent;color:black;height:150vh;">
    <div class="background-image-church-family page-layout">
            <div class="link-box">
                <a href="" class="text-outline-white link-button outlined-text-brown" style="color:brown">Main Page</a>
                <a href="../#/what-we-believe" class="text-outline-white link-button outlined-text-brown;" style="color:brown">What We Believe</a>
                <a href="../#/join-with-us" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Join With Us</a>
            </div>

            <div class="text-outline-brown intro-title-grid title-grid-layout">
                <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                    <div style="border: transparent 2px solid;width:100%;font-size:5.0em;">Who We Are</div>
                </div>
            </div>

            <div class="text-outline-brown">
                <div style="margin: 0 10vw;border-radius:15px;background-color:#00000099;padding:15px 0;">
                <div class="who-we-are-subheader">Our Mission</div>   
                <div class="who-we-are-text">
                    Our mission is simple: to glorify God and to share the good news of His grace, saving sinners like us, through Jesus Christ.  As the Bible says in 
                    <a class="who-we-are-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Acts+4%3A12&version=NKJV">Acts 4:12</a>,
                    "And there is salvation in no one else, for there is no other name under heaven given among men by which we must be saved." 
                </div>
                <div style="height:50px;"></div>     
                <div class="who-we-are-subheader">Our Vision</div>
                <div class="who-we-are-text">Our vision is multifaceted. We pray that:<br>
                    Each one of us makes God's word - The Bible - the focus of our living and decision-making. 
                     <a class="who-we-are-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Psalm+19%3A7-11&version=NKJV">Psalm 19:7-11</a>; 
                     <a class="who-we-are-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=2+Timothy+3%3A16&version=NKJV">2 Timothy 3:16</a>
                    <br>We effectively reach into our community as individuals and as a church. 
                    <a class="who-we-are-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Matthew+5%3A13-16&version=NKJV">Matthew 5:13-16</a>; 
                    <a class="who-we-are-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Peter+2%3A9-12&version=NKJV">1 Peter 2:9-12</a>
                </div>
                <div style="height:50px;"></div>     
                <div class="who-we-are-subheader">Our Values</div>
                <div class="who-we-are-text">
                    Our core values&mdash;what we call the five <i>Solas</i>&mdash;are simply five points that detail our Reformed teaching on things like:
                    <ul style="font-size:1.5em;margin-left:200px;">
                        <li>The Bible</li>
                        <li>Faith</li>
                        <li>Grace</li>
                        <li>Jesus</li>
                        <li>Life's meaning</li>
                    </ul>
                    These ancient teachings find their roots in the Gospel message. They were rediscovered during the medieval Reformation, and continue to be more than just history&mdash;
                    they are living truths to be received and embraced.<br>
                    They remind us of what is central to Scripture and what is critically important for faithful, Bible-based churches to teach, preach, and live out before the watching world.<br>
                    You can find out more about the five <i>Solas</i>&nbsp;<a class="who-we-are-link" target="_blank"  rel="noopener" href="../#what-we-believe">here</a>.
                </div>
                <div style="height:50px;"></div>
                <div class="who-we-are-subheader">Giving</div>
                <div class="who-we-are-text">We teach that when someone joins our church family, they should pray carefully about what they should regularly give to support the work of God here at St. Paul's.  
                    But we don't ask our visitors to contribute unless they want to.  And for those who do belong to our family, we trust them to do what God calls them to do&mdash;we don't check up on them, 
                    and we only track what members give so they can claim the donations for tax purposes.  But we do seek to share what the Bible teaches about giving, because it is an important subject that 
                    God talks about a lot in the Scripture.  <a class="who-we-are-link" href="../#/what-we-believe">You can find out more about what the Bible teaches about giving by clicking here.</a></div>
            </div>
        </div>
    </div> 
</div>
