<div id="jesus" class="full-page pad-content" 
                    style="background-color: transparent;color:black;height:fit-content;">
        <div class="background-image-bible page-layout">
        <div class="link-box">
            <a href="" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Main Page</a>
            <a href="../#/what-we-believe" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">What We Believe</a>
            <a href="../#/join-with-us" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Join With Us</a>
        </div>

        <div class="text-outline-blue intro-title-grid title-grid-layout">
            <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                <div style="border: transparent 2px solid;width:100%;font-size:1.6em;">What We Believe About</div>
                <div style="border: transparent 2px solid;width:100%;font-size:5.0em;">Jesus Christ</div>
            </div>
        </div>

        <div>        
            <div style="margin: 0 10vw;border-radius:15px;background-color:#ffffffdd;padding:15px 0;">
                <p class="jesus-subheader">Who is Jesus?</p>
                <p class="jesus-text">
                    <strong>Jesus Christ is God Himself.</strong> There's a lot more about this that should be said, but that is the starting point of it all. If you understand that, great! 
                    God is ready to give you <i>real faith</i> (and maybe you have al&shy;ready received this amazing gift!) If you don't have it, you need to read on.
                </p>
                <p class="jesus-text">
                    C.S. Lewis, the author of <i>The Chronicles of Narnia</i>, once wrote, 
                </p>
                <div class="blockquote">
                    I am trying here to prevent anyone saying the really foolish thing that people often say 
                    about Him: I'm ready to accept Jesus as a great moral teacher, but I don't accept his claim 
                    to be God.  That is the one thing we must not say.  A man who was merely a man and said the 
                    sort of things Jesus said would not be a great moral teacher.  He would either be a 
                    lunatic&mdash;on the level with the man who says he is a poached egg&mdash;or else he 
                    would be the Devil of Hell.  You must make your choice.  Either this man was, and is, 
                    the Son of God, or else a madman or something worse.  You can shut him up for a fool, 
                    you can spit at him and kill him as a demon or you can fall at his feet and call him 
                    Lord and God, but let us not come with any patronizing nonsense about his being a great 
                    human teacher.  He has not left that open to us.  He did not intend to.
                </div>
                <p class="jesus-text">
                    <strong>Jesus, the Man born in Bethlehem</strong> two thousand years ago, who lived a sinless life 
                    and taught in ancient Israel for three years, is the Son of God.  That means He is the God the Son, 
                    the second Person of the Triune God, fused into humanity and born of the virgin Mary.  He came to make 
                    it possible for us sinful, God-rejecting people to be changed&mdash;born spiritually into a new, clean, 
                    eternal life. When He died on the cross at Jerusalem, He took upon Himself the awful, terrifying 
                    punishment that we deserve, so that when anyone comes to Him and asks Him to rescue us from hell, 
                    he substitutes his own death for ours. He pays the penalty for us. He makes us fit to spend a 
                    beautiful, glorious eternity with Him.
                </p>
                <p class="jesus-text">
                    <strong>How do we know that Jesus really is the Son of God?</strong> <br>
                    <strong>First, He actually claimed to be the Son of God. </strong> 
                    <a class="jesus-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=John%2010%3A22-42&version=NKJV">John 10:24</a> begins,</p>
                <div class="blockquote biblequote">
                    Then the Jews surrounded Him and said to Him, “How long do You keep us in doubt? 
                    If You are the Christ, tell us plainly.” Jesus answered them, “I told you, and 
                    you do not believe. The works that I do in My Father’s name, they bear witness 
                    of Me. But you do not believe, because you are not of My sheep, as I said to you. 
                    My sheep hear My voice, and I know them, and they follow Me. And I give them 
                    eternal life, and they shall never perish; neither shall anyone snatch them out 
                    of My hand. My Father, who has given them to Me, is greater than all; and no one is 
                    able to snatch them out of My Father’s hand. <span style="color:red;"><i>I and My Father are one.</i></span>”</div>
                <p class="jesus-text">A little farther down, the Scripture reads,</p>
                <div class="blockquote biblequote">
                    Then the Jews took up stones again to stone Him. Jesus answered them, “Many good 
                    works I have shown you from My Father. For which of those works do you stone Me?” 
                    The Jews answered Him, saying, “For a good work we do not stone You, but for blasphemy, 
                    and because You, being a Man, make Yourself God.” Jesus answered them, “Is it not 
                    written in your law, ‘I said, “You are gods” ’? If He called them gods, to whom 
                    the word of God came (and the Scripture cannot be broken), do you say of Him whom 
                    the Father sanctified and sent into the world, ‘You are blas&shy;pheming,’ <span style="color:red;"><i>because I 
                    said, ‘I am the Son of God’</i></span>? If I do not do the works of My Father, do not believe 
                    Me; but if I do, though you do not believe Me, believe the works, that you may know 
                    and believe that the Father is in Me, and I in Him.”</div>
                <p class="jesus-text">
                    Those around Him recognized that He was making that bold claim, and they hated Him for it. And He didn't deny it&mdash;He 
                    stood firm in making that claim. And there are many other places in the Gospels where He asserted his authentic claim to 
                    be the Son of God.
                </p>
                <p class="jesus-text">
                    <strong>Second, He proved it again and again by mighty miracles</strong> like healing the sick, restoring sight to 
                    the blind, giving hearing to the deaf, making the lame walk, casting out demons, raising the dead. Over and over 
                    again Jesus demonstrated his awesome power, leaving those who followed Him with no doubt&mdash;this Man Jesus 
                    was truly God in the flesh. There were so many miracles that 
                    <a class="jesus-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=John%2020%3A24-31&version=NKJV">the Gospel writer declares</a>, 
                    <span style="color:darkblue;">
                        "And truly Jesus did many other signs in the presence of His disciples, 
                        which are not written in this book; but these are written that you may 
                        believe that Jesus is the Christ, the Son of God, and that believing 
                        you may have life in His name."
                    </span>
                </p>
                <p class="jesus-text">
                    <strong>Third, He raised Himself from death</strong> after his crucifixion to prove His divine power and His 
                    right to save us from hell. The first clue is that Jesus claimed the power to raise himself from the dead. 
                    In John 10:17-18, Jesus says, "<span class="biblequote">Therefore My Father loves Me, because I lay down 
                    My life that I may take it again. No one takes it from Me, but I lay it down of Myself. I have power to 
                    lay it down, </span><span style="color:red"><i>and I have power to take it again</i>.</span>" Jesus, 
                    being God in the flesh, has all power of life and death at his command. That's why Jesus was able to rise 
                    from the dead:
                </p>
                <div class="blockquote biblequote">
                    Now the first day of the week Mary Magdalene went to the tomb early, while it 
                    was still dark, and saw that the stone had been taken away from the tomb. Then 
                    she ran and came to Simon Peter, and to the other disciple, whom Jesus loved, 
                    and said to them, “They have taken away the Lord out of the tomb, and we do not 
                    know where they have laid Him.” Peter therefore went out, and the other disciple, 
                    and were going to the tomb. So they both ran together, and the other disciple 
                    outran Peter and came to the tomb first. And he, stooping down and looking in, 
                    saw the linen cloths lying there; yet he did not go in. Then Simon Peter came, 
                    following him, and went into the tomb; and he saw the linen cloths lying there, 
                    and the handkerchief that had been around His head, not lying with the linen 
                    cloths, but folded together in a place by itself. Then the other disciple, who 
                    came to the tomb first, went in also; and he saw and believed. For as yet they 
                    did not know the Scripture, that He must rise again from the dead. Then the 
                    disciples went away again to their own homes. 
                    <br/><br/>
                    But Mary stood outside by the tomb weeping, and as she wept she stooped down 
                    and looked into the tomb. And saw two angels in white sitting, one at the head 
                    and the other at the feet, where the body of Jesus had lain. Then they said 
                    to her, “Woman, why are you weeping?” She said to them, “Because they have 
                    taken away my Lord, and I do not know where they have laid Him.” Now when 
                    she had said this, she turned around and saw Jesus standing there, and did 
                    not know that it was Jesus. Jesus said to her, “Woman, why are you weeping? 
                    Whom are you seeking?” She, supposing Him to be the gardener, said to Him, 
                    “Sir, if You have carried Him away, tell me where You have laid Him, and I 
                    will take Him away.” Jesus said to her, “Mary!” She turned and said to Him, 
                    “Rabboni!” (which is to say, Teacher). Jesus said to her, “Do not cling to 
                    Me, for I have not yet ascended to My Father; but go to My brethren and say 
                    to them, ‘I am ascending to My Father and your Father, and to My God and your 
                    God.’” Mary Magdalene came and told the disciples that she had seen the Lord, 
                    and that He had spoken these things to her. (<a class="jesus-link" target="_blank"  rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=John+20%3A+1-18&version=NKJV">John 20:1-18</a>)       
                </div>
                <p class="jesus-text">
                    <strong>Jesus is the Christ, the Messiah, the one and only Son of God. Believe Him.</strong>
                </p>
            </div>

            <div>

            </div>
            <br>
        </div>
    </div> 
</div>
