.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-item {
  background-color:inherit;
  height:fit-content;
  font:inherit;
  font-kerning:inherit;
  letter-spacing: inherit;
}
