<div id="who-are-we" class="full-page pad-content" 
                     style="background-color: transparent;color:black;height:130vh;">
    <div class="background-image-church-family page-layout">
        <div class="link-box">
            <a href="" class="text-outline-white link-button outlined-text-brown" style="color:brown">Main Page</a>
            <a href="../#/what-we-believe" class="text-outline-white link-button outlined-text-brown;" style="color:brown">What We Believe</a>
            <a href="../#/join-with-us" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Join With Us</a>
        </div>
        <div class="text-outline-brown title-grid-layout">
            <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                <div style="border:transparent 2px solid;width:100%;font-size:calc(1em + 2vw + 2vh);">Member Giving</div>
            </div>
        </div>
        <div class="text-outline-brown">
            <div class="bubble-dark">
                <div class="white-subheader">Online Giving Through Tithely</div>
                <br>
                <div style="display:flex;align-items:center;width:100%;color:white;">
                    Click the button to start your gift on Tithely!<a class="tithely-button" data-form="64dc07c7-5d42-11ee-90fc-1260ab546d11">Give</a>                
                </div>   
            </div>
        </div>
    </div>
    <div style="z-index:1000;margin-top:-10px;margin-left:0;margin-right:-20px;width:95vw;"><footer class="footer-color-brown footer-width" style="width:100%"></footer></div>
</div>
