<div id="join-with-us" class="full-page pad-content" 
                       style="background-color: transparent;color:black;">
    <div class="background-image-church-family page-layout">
        <div class="link-box">
            <a href="" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Main Page</a>
            <a href="../#/who-are-we" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Who We Are</a>
            <a href="../#/what-we-believe" class="text-outline-white link-button outlined-text-brown;" style="color:brown">What We Believe</a>
        </div>

        <div class="text-outline-brown intro-title-grid title-grid-layout">
            <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                <div style="border: transparent 2px solid;width:100%;font-size:5.0em;">Join With Us</div>
            </div>
        </div>

        <div class="text-outline-brown text-grid-layout">        
            <p class="welcome-text">Hello! We're glad you stopped by!</p>
            <p class="intro-text">There's so much we want to tell you about ourselves.  Please <span style="font-weight:450;">click one of the links at the top of the page</span> to find out more about us.  </p><br>
        </div>
    </div> 
</div>
