ul li::before {
    color:black;
    content: "• ";
}

ul li {
    list-style-type: none;
}

ul {
    -webkit-columns:2;
    -moz-columns:2;
    columns:2;
}
.who-we-are-subheader{
    font-size:2em;
    text-align:center;
    margin:0 10vw;
    color:white;
}
.who-we-are-text {
    font-size:1.4em;
    padding: 5px 20px;
    color:white;
}
.who-we-are-link {
    color:white;
}
.image {
    background-image: url('src/assets/img/AnivMedPortrait.jpg');
}
.footer-width {
    margin-left: 0.6vw;
    max-width:150vw;
    width:98.7vw;
    height:max-content;
}
