img {
    width:calc(3.5vw + 3.5vh);
    max-width: 100px;
    min-width: 50px;
    height:auto;
}
.find-us {
    margin-top:-5px;
    background-color: transparent;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:33% 33% 33%;
}
@keyframes rotateFamily {
    0% {background-image: url(../../assets/img/AnivMed.jpg);}
    33% {background-image: url(../../assets/img/_MG_1520.JPG);}
    66% {background-image: url(../../assets/img/_MG_1485.JPG);}
    100% {background-image: url(../../assets/img/IMG_2147.JPG);}
}
@keyframes rotateGlobal {
    0% {background-image: url(../../assets/img/CongoChurchService.JPG);}
    25% {background-image: url(../../assets/img/CongoVillageScene.jpg);}
    50% {background-image: url(../../assets/img/IMG_7122.JPG);}
    75% {background-image: url(../../assets/img/IMG_7055.JPG);}
    100% {background-image: url(../../assets/img/Friends.jpg);}
}
