html {
    scroll-behavior: smooth;
}
.background-image-find-us {
    position:absolute;
    background-position: bottom center;
    background-size:cover;
    background-image:url('../../assets/img/CarverCountyMap.png');
    opacity:0.4;
    height:105%;
    width:97vw;
    background-repeat:no-repeat;
    background-color:transparent;
    background-attachment:fixed;
    background-color:white;
    z-index:-1;
}
.background-image-intro {
    background-image: url('src/assets/img/StPaulChurchWideView.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:center;
}
.church-family-links {
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row:10/span 10;
    color:white;
    width:max-content;
    padding: 15px;
}
.church-family-link-button {
    background: none;
    border: none;
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    padding: 0;
    text-align:center;
}
.church-family-link-button:hover {
    text-decoration: underline;
}
.find-us-title-text {
    position:relative;
    font-size:7.0em;color:white;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px;
    grid-column:3/span 20;
    grid-row:3/span 10;
    width:100%;
    text-align:left;
    margin-right:50px;
}
.grid-for-text {
    display:grid;
    grid-template-columns:repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
.intro-text {
    font-size:calc(1vh + 1vw + 0.3em);
    text-align:center;
}
.intro-text-div {
    border: transparent 2px solid;
    min-width:555px;
    padding:5px;
    background-color:transparent;
    color:white;
    grid-column:50/span 47;
    grid-row:25/span 20;
    width:fit-content;
    height:max-content;
}
.intro-title-div {
    border: transparent 2px solid;
    color:white;
    padding:5px;
    grid-column:49/span 47;
    width:100%;
    grid-row:4/span 20;
    text-align:center;
}
.intro-title-grid {
    display:grid;
    grid-template-columns: repeat(15, 5%);
    grid-template-rows: repeat(10, 10%);
}
.page-dimensions {
    height:95.1vh;
    width:97vw;
}
.title-text {
    font-size:calc(1vh + 1vw + 3.6em);
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px;
    grid-column:3/span 20;
    grid-row:3/span 10;
    width:100%;
    text-align:left;
    margin-right:50px;
}
.welcome-text {
    font-size:calc(1vh + 1vw + 1em);
    text-align:center;
}
@keyframes rotateIntro {
    0% {background-image: url(../../assets/img/StPaulChurchWideView.jpeg);}
    33% {background-image: url(../../assets/img/StPaulChurchWideView.jpeg);}
    66% {background-image: url(../../assets/img/tower_Painting.Color.svg);}
    100% {background-image: url(../../assets/img/tower_Painting.Color.svg);}
}
@keyframes rotateFamily {
    0% {background-image: url(../../assets/img/AnivMed.jpg);}
    33% {background-image: url(../../assets/img/_MG_1520.jpg);}
    66% {background-image: url(../../assets/img/_MG_1485.JPG);}
    100% {background-image: url(../../assets/img/IMG_2147.JPG);}
}
@keyframes rotateGlobal {
    0% {background-image: url(../../assets/img/CongoChurchService.JPG);}
    25% {background-image: url(../../assets/img/CongoVillageScene.jpg);}
    50% {background-image: url(../../assets/img/IMG_7122.JPG);}
    75% {background-image: url(../../assets/img/IMG_7055.JPG);}
    100% {background-image: url(../../assets/img/Friends.jpg);}
}

.intro-slides {
    animation-name: rotateIntro;
    animation-duration:15s;
    animation-iteration-count: 1;
    background-image:url('../../assets/img/StPaulChurchWideView.jpeg');
}
.family-slides {
    animation-name: rotateFamily;
    animation-duration:45s;
    animation-iteration-count: 1;
    background-image:url('../../assets/img/AnivMed.jpg');
}
.global-slides {
    animation-name: rotateGlobal;
    animation-duration:45s;
    animation-iteration-count: 1;
    background-image:url('../../assets/img/Friends.jpg');
}
