@keyframes rotateFamily {
    0% {background-image: url(../../assets/img/AnivMed.jpg);}
    33% {background-image: url(../../assets/img/_MG_1520.jpg);}
    66% {background-image: url(../../assets/img/_MG_1485.JPG);}
    100% {background-image: url(../../assets/img/IMG_2147.JPG);}
}
@keyframes rotateGlobal {
    0% {background-image: url(../../assets/img/CongoChurchService.JPG);}
    25% {background-image: url(../../assets/img/CongoVillageScene.jpg);}
    50% {background-image: url(../../assets/img/IMG_7122.JPG);}
    75% {background-image: url(../../assets/img/IMG_7055.JPG);}
    100% {background-image: url(../../assets/img/Friends.jpg);}
}

