<menu-bar class="link-box link-box-position"  [menuItems]="menuItems"></menu-bar>
<div id="intro" class="full-page pad-content page-dimensions">
    <div class="background-image-intro" style="min-height:100%;background-attachment: fixed;background-position:bottom;background-repeat:no-repeat;background-size:cover;">
        <div class="intro-title-grid intro-title-div">
            <div class="church-logo">
                <img alt="St. Paul Evangelical Reformed Church, Hamburg, Minnesota" src="../../assets/img/ChurchLogo.InvertedColor.png"/>
            </div>
            <div class="church-name">
                <div class="page-title">St. Paul's</div><div class="page-title">Evangelical Reformed</div><div class="page-title">Church</div>
                <div class="church-city">Hamburg, Minnesota</div>
            </div>
        </div>
        <div class="intro-text-div" style="border:solid 2px transparent">        
            <p class="welcome-text">Hello! We're glad you stopped by!</p>
            <div class="intro-text-flex">
                <p class="intro-text welcome-text-sub">There's so much we want to tell you about ourselves.  Please <span style="font-weight:bold;">click 
                    one of the links at the top of the page</span> to find out more about us.  
                </p>
            </div>
            <br/><br/>
            <div class="intro-text-flex">
                <p class="intro-text" style="margin:2px;"><span style="font-weight:bold;">Looking for our worship service times?</span></p>
                <p class="intro-service-time-text">We get together Sundays at 9:30 a.m.<br/>Sunday School and adult Bible Study meet at 8:45 a.m.  We'd love to meet you!</p>
            </div>
            <br>
        </div>
    </div> 
</div>
<div id="church-family" class="full-page pad-content page-dimensions" style="margin-top:-40px">
    <div class="background-image-church-family family-slides">
        <div class="grid-for-text">
            <div class="title-text narrow-family-text white-title text-outline-black">Our Church Family</div>
            <div class="church-family-links">
                <div><button routerLink="/who-are-we" class="church-family-link-button">Who are we?</button></div>
                <div><button routerLink="/what-to-expect" class="church-family-link-button">What can I expect?</button></div>
                <div><button routerLink="/what-we-believe" class="church-family-link-button">What do we believe?</button></div>
                <hr>
                <!--<div><button routerLink="/pastor-bio" class="church-family-link-button">Meet the Pastor</button></div>-->
                <div><button routerLink="/bulletin-list" class="church-family-link-button">Bulletins & Sermons</button></div>
                <div><button routerLink="/tithing" class="church-family-link-button">Member Giving</button></div>
            </div>
        </div>
    </div> 
</div>
<div id="global-family" class="full-page pad-content page-dimensions" style="margin-top:-40px;background-color: transparent;"  >
    <div class="background-image-global-family global-slides">
        <div class="grid-for-text">
            <div class="title-text narrow-family-text white-title text-outline-black">Our Global Family</div>
            <div class="global-family-links">
                <div style="margin-bottom:1vh;">
                    <a href="https://rcus.org" target="_blank" rel="noopener" class="church-family-link-button">Our Denomination</a>
                </div>
                <div style="margin-bottom:1vh;">
                    <a href="https://heidelbergseminary.org/" target="_blank" rel="noopener" class="church-family-link-button">Our Educational<br>Institutions</a>
                </div>
                <div><a  href="https://rcus.org/missions/" target="_blank" rel="noopener"  class="church-family-link-button">Our Missions<br>Outreach</a></div>
            </div>
        </div>
    </div>
</div>
<div id="find-us" class="find-us full-page pad-content page-dimensions">
    <div class="find-us-title-text">How to<br>Find Us</div>
    <div class="find-us-text">
        We're out in the country, a beautiful drive a few miles south of Norwood 
        Young America. Use the helpful map to get directions to us from anywhere!
    </div>
    <div class="background-image-find-us"></div>
    <div id="outer-map-container" class="map-container" style="border:black 2px;">
        <div id="googleDiv" *ngIf="!isApple">
            <google-map class="map" [options]="mapOptions" ></google-map>
        </div>
        <div id="appleDiv" *ngIf="isApple" style="margin:10px;height:100%;width:100%;">
            <a title="Click to open in Apple Maps" style="width:100%;height:100%;max-height:100%;max-width:100%;" href="https://maps.apple.com/?q=15470+County+Road+31,+Hamburg,+Minnesota,+55339">
                <img style="width:90% !important;height:100% !important;max-width:none !important;max-height:none !important;margin-left:5%;" src="../../assets/img/AppleMapChurch.png" alt="View in Apple Maps">
            </a>
            <!--<iframe
                id="apple-map"
                src="https://maps.apple.com/?q=15470+County+Road+31,+Hamburg,+Minnesota,+55339"
                width="100%"
                height="100%"
                style="border:0;"
                allowfullscreen>
            </iframe>-->
        </div>
    </div>
</div>
<footer class="pad-content footer-color-dark-blue footer-width"></footer>