p {
    margin-bottom:20px;
}

.inset-box {
    width:-moz-fit-content;
    width:fit-content;
    height:-moz-fit-content;
    height:fit-content;
    border:2px solid darkblue;
    margin: 0 10%;
    background-color:white;
    font-size:1.1em;
    margin-bottom:15px;
}
.text-link {
    color:black;
}
.subheader {
    font-size:calc(1vw + 1vh + .25em);
    text-align:center;
    margin:0 10vw;
    color:black;
    font-weight: 500;
}
.subtitle {
    font-size:calc(1.1vw + 1.1vh + 0.1em);
    width:100%;
}
.text {
    padding: 5px 20px;
    color:black;
    text-align: left;
}
.title {
    font-size:calc(1.5vh + 1.5vw + 2.0em);
    width:100%;
}
