<menu-bar class="link-box" style="color:black;font-kerning:auto;letter-spacing:0.01em;" [menuItems]="menuItems"></menu-bar>
<div id="what-to-expect" class="full-page pad-content"
                         style="color:black;height:fit-content;">
    <div class="background-image-church-family page-layout image">
        <div id="top"></div>
        <div class="title-grid-layout">
            <div class="bubble-light">
                <div class="blue-title">
                    <div class="title">Meet Pastor Dan</div>
                </div>
                <p class="dark-subheader blue-title">My name is Dan Schnabel, and I'm the pastor here at St. Paul's Church. Let me tell you a little about myself.</p>
            </div>
        </div>
    </div>
</div>
<footer class="pad-content footer-color-dark-blue" style="margin:-20px 20px 0 20px;"></footer>

