<div id="footer" class="text-outline-brown footer-grid">
    <p class="footer-title">St. Paul's Evangelical Reformed Church, 15470 County Road 31, Hamburg, Minnesota</p>
    <p class="footer-subtitle">A member of the Reformed Church in the United States</p>
    <!-- <p class="footer-subtitle">A member of the <a href="https://rcus.org" target="_blank" rel="noopener" style="font-weight: bold;" class="church-family-link-button text-outline-brown">Reformed Church in the United States</a></p> -->
    <div class="more-about-us">More About Us</div>
    <div class="about-us-links">
        <button id="cell-1" routerLink="/who-are-we" class="church-family-link-button text-outline-brown">Who are we?</button>
        <button id="cell-2" routerLink="/what-we-believe" class="church-family-link-button text-outline-brown">What We Believe</button>
        <button id="cell-3" routerLink="/join-with-us" class="church-family-link-button text-outline-brown">Join Us</button>
        <button id="cell-4" routerLink="/the-solas" class="church-family-link-button text-outline-brown">The Five Solas</button>
        <button id="cell-5" routerLink="/jesus" class="church-family-link-button text-outline-brown">About Jesus</button>
        <button id="cell-6" routerLink="/faith" class="church-family-link-button text-outline-brown">About Faith</button>
        <button id="cell-7" routerLink="/the-bible" class="church-family-link-button text-outline-brown">About the Bible</button>
        <button id="cell-8" routerLink="/grace" class="church-family-link-button text-outline-brown">About Grace</button>
        <button id="cell-9" routerLink="/prayer" class="church-family-link-button text-outline-brown">Prayer</button>
        <button id="cell-10" routerLink="/giving" class="church-family-link-button text-outline-brown">Giving</button>
        <button id="cell-11" routerLink="/sermons" class="church-family-link-button text-outline-brown">Sermons</button>
        <button id="cell-12" routerLink="/local-outreach" class="church-family-link-button text-outline-brown">Local Outreach</button>
        <button id="cell-13" routerLink="/foreign-missions" class="church-family-link-button text-outline-brown">Foreign Missions</button>
        <button id="cell-14" routerLink="" class="church-family-link-button text-outline-brown">Educational Institutions</button>
        <button id="cell-15" routerLink="/meaning" class="church-family-link-button text-outline-brown">Life's Meaning</button>
        <button id="cell-16" routerLink="" class="church-family-link-button text-outline-brown">Our Denomination</button>
        <button id="cell-17" routerLink="" class="church-family-link-button text-outline-brown">Other Content</button>
        <button id="cell-18" routerLink="" class="church-family-link-button text-outline-brown">Other Content</button>
        <button id="cell-19" routerLink="" class="church-family-link-button text-outline-brown">Other Content</button>
        <button id="cell-20" routerLink="" class="church-family-link-button text-outline-brown">Other Content</button>
    </div>
</div>
