<div id="footer" class="footer-grid" style="max-height:max-content;">
    <p class="footer-title">St. Paul's Evangelical Reformed Church</p>
    <p class="footer-address">15470 County Road 31, Hamburg, Minnesota</p>
    <p class="footer-subtitle">A member of the Reformed Church in the United States</p>
    <p class="copyright-notice">Copyright &copy; {{year}}</p>
    <div class="more-about-us">More About Us</div>
    <div class="about-us-links">
        <button id="cell-1" routerLink="/who-are-we" class="link-button">Who are we?</button>
        <button id="cell-2" routerLink="/what-we-believe" class="link-button">What We Believe</button>
        <button id="cell-3" routerLink="/the-solas" class="link-button">The Five <i>Solas</i></button>
        <button id="cell-4" routerLink="/what-we-believe" fragment="jesus" class="link-button">About Jesus</button>
        <button id="cell-5" routerLink="/what-we-believe" fragment="faith" class="link-button">About Faith</button>
        <button id="cell-6" routerLink="/what-we-believe" fragment="the-bible" class="link-button">About the Bible</button>
        <button id="cell-7" routerLink="/what-we-believe" fragment="grace" class="link-button">About Grace</button>
        <button id="cell-8" routerLink="/prayer" class="link-button">About Prayer</button>
        <button id="cell-9" routerLink="/giving" class="link-button">About Giving</button>
        <button id="cell-10" routerLink="/meaning" class="link-button">About Life's Meaning</button>
        <button id="cell-11" routerLink="/sermons" class="link-button">Sermons</button>
        <button id="cell-12" routerLink="/local-outreach" class="link-button">Local Outreach</button>
        <button id="cell-13" routerLink="/foreign-missions" class="link-button">Foreign Missions</button>
        <button id="cell-14" routerLink="/higher-ed" class="link-button">Higher Education</button>
        <button id="cell-15" onclick="window.open('https://rcus.org','_blank');" class="link-button">Our Denom&shy;ination</button>
        <button id="cell-16" onclick="window.open('https://www.facebook.com/stpaulsrcus/', '_blank');" class="link-button">Facebook</button>
        <button id="cell-17" onclick="window.open('https://www.youtube.com/channel/UCjlD7UGmvz7fSqIHrklPIXQ', '_blank');" class="link-button">YouTube</button>
        <button id="cell-18" class="link-button">Member Giving</button>
    </div>
</div>
