<style>
    .grid-for-text {
        display:grid;
        grid-template-columns:repeat(100, 1fr);
        grid-template-rows: repeat(100, 1fr);
    }
    .background-image-church-family {
        background-image:url('assets/img/Aniv\ Med.jpg');
        background-position: bottom center;
        background-size:cover;
        filter:brightness(100%);
        background-color:white;
        height:100%;
        background-repeat:no-repeat;
        background-color:transparent;
        background-attachment:fixed;
    }
    .title-text {
        font-size:7.0em;color:white;width:fit-content;padding:5px;grid-column:1/span 20;grid-row:1/span 10;width:100%;text-align:center;margin-right:50px;
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div id="church-family" class="full-page pad-content" style="background-color: transparent;height:95.1vh;width:97vw;">
    <div class="background-image-church-family">
        <div class="grid-for-text">
            <div class="text-outline-brown title-text">Our Church Family</div>
        </div>
    </div> 
</div>