p {
    margin-bottom: 20px;
}
.believe-subheader {
    font-size:2em;
    text-align:center;
    margin:0 10vw;
}
.believe-text {
    font-size:1.4em;
    padding: 5px 20px;
}
.believe-link {
    color:black;
}
.bible-subheader {
    font-size:2em;
    text-align:center;
    margin:0 10vw;
}
.bible-text {
    font-size:1.4em;
    padding: 5px 20px;
}
.bible-link {
    color:black;
}

.jesus-subheader {
    font-size:2em;
    text-align:center;
    margin:0 10vw;
}
.jesus-text {
    font-size:1.4em;
    padding: 5px 20px;
}
.jesus-link {
    color:black;
}