<div id="what-we-believe" class="full-page pad-content" 
                          style="background-color: transparent;color:black;height:fit-content;">
    <div class="background-image-bible page-layout">
        <div class="link-box">
            <a href="" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Main Page</a>
            <a href="../#/who-are-we" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Who We Are</a>
            <a href="../#/join-with-us" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Join With Us</a>
        </div>

        <div class="text-outline-blue intro-title-grid title-grid-layout">
            <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                <div style="border: transparent 2px solid;width:100%;font-size:5.0em;">What We Believe</div>
            </div>
        </div>

        <div>        
            <div style="margin: 0 10vw;border-radius:15px;background-color:#ffffffdd;padding:15px 0;">
                <p class="believe-subheader">Why do we need God?</p>
                <p class="believe-text">
                    <strong>Humanity</strong> has a problem.  It's a a problem that we caused for ourselves, but we can't fix it ourselves--it is beyond 
                    our power to do so.<br><br>
                    <strong>You see,</strong> our first ancestors were created to be perfect beings, but they still had a choice--they could obey God the Creator, 
                    or they could reject Him. To obey him would have meant having a perfect life, and a life that would last forever. But they made 
                    the terrible choice to reject God, and when they did that, they brought the sentence of death upon themselves.  They would be 
                    mortal, and they would be unable to take back the choice they made. What's worse, they passed that sentence of death on to all 
                    of us who have come after them.<br><br>                    
                    <strong>So why can't</strong> we fix the problem?  Can't we just decide to obey God?  Can't we set things right on our own?  Sadly, no.  
                    Part of the mortality we inherit makes it so that we will always--<i>always</i>--sin against God.  It's inevitable that 
                    we will turn away from God.  It is inevitable that we will sin.  And when we sin, we reinforce the death sentence we inherited.  
                    We prove to all of time and eternity that we are what God says we are--sinners deserving of eternal punishment.<br><br>                    
                    <strong>Will it help</strong> if we do more good deeds than evil ones?  So many people seem to think so.  But God's answer is a 
                    resounding No.  The Lord Jesus Christ said, "Therefore you shall be perfect, just as your Father in heaven is perfect 
                    (<a target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Matthew+5%3A48&version=NKJV">Matthew 5:48</a>)." 
                    It's not about getting to be good enough for God.  You can never, ever become good enough for God. It is too late.  
                    You are already lost.  That's terrible news!  <strong>But God has an answer.</strong><br><br>                    
                    <strong>God says</strong> that sin must be paid for.  You can pay for your own sin by existing in eternal punishment, or you can let 
                    God pay for them.  Is that for real?  Can God really pay for our sin and take away the punishment we deserve?  Yes!  
                    You see, Jesus Christ, the Son of God, is no mere mortal who is saddled with the same punishment that we are.  He is, 
                    rather, God Himself, fused into humanity, born into unstained, sinless human flesh.  And when He died upon the cross 
                    there in Jerusalem, he took upon Himself the terrible punishment we deserve.  And He proved it to be so by raising 
                    Himself up from death!<br><br>                    
                    <strong>So your choice</strong> now is this: will you continue on your current course toward eternal destruction, or will you turn to 
                    God and call on Him to save you from  your sin?  You can today, right where you are, ask Jesus to rescue you from 
                    the punishment you deserve for your rejection of God.  You can be born into God's family.  You can experience the 
                    amazing freedom from being trapped by your past.  You can experience a life that is so wonderful, so full of joy, 
                    that nothing you ever experienced before can match it.<br><br>                    
                    <strong>If you take this step today, please contact us and let us know.  We can help you learn how to continue in freedom, joy, and peace with God.  </strong>
                <hr style="width:80%;">
                <p class="believe-subheader">Let's talk about what we believe!</p>
                <p class="believe-text">The things we believe go all the way back to the beginnings of history. Our beliefs are based on the timeless truth of the Bible, 
                    the revealed written word of God Himself. The Bible tells us that this Word of God cannot be broken (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=John+10%3A35&version=NKJV">John 10:35</a>). 
                    Because of this, the promises of God were fulfilled not just throughout history (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=Joshua+23%3A14&version=NKJV">Joshua 23:14</a>), but also in 
                    Jesus Christ (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=2+corinthians+1%3A20&version=NKJV">2 Corinthians 1:20</a>). And there's so much more about the 
                    Bible&mdash;like how God has imbued it with a spiritual power (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=Hebrews%204%3A12&version=NKJV">Hebrews 4:12</a>) 
                    that can open your eyes to the reality of something&mdash;Someone&mdash;greater than yourself. Someone who can turn you into a new person. 
                    Someone who can make the life you have now seem like nothing compared to what He offers you.
                </p>
                <br>
                <button class="believe-text believe-link link-button" routerLink="/the-bible">Click here to read more about how the Bible can connect you with God!</button>
                <hr style="width:80%;">
                <p class="believe-subheader">Our faith, in a nutshell</p>
                <p class="believe-text">Five hundred years ago, the pioneers of our faith laid out five principles. We call them the Five <i>Solas</i>, 
                    because in the original Latin, the name of each principle began with the word <i>Sola</i> or a form of it, which means "Alone". Here they are:
                </p>
                <div class="believe-text" style="width:fit-content;height:fit-content;border:2px solid darkblue;margin: 0 10%;background-color:white;font-size:1.1em;margin-bottom:15px;">
                    <strong><i>Sola Scriptura</i>&mdash;Scripture Alone</strong>
                    <p style="margin-left:15px;">The Bible, being the Word of God (<a  class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=2+Peter+1%3A19-21&version=NKJV">2 Peter 1:19-21</a>), 
                        is the ultimate authority (<a  class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Luke+4%3A4&version=NKJV">Luke 4:4</a>), 
                        not the traditions of the church or the opinions of men (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Matthew+4%3A4&version=NKJV">Matthew 4:4</a>, 
                        <a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=John+17%3A17&version=NKJV">John 17:17</a>).
                    </p>
                    <strong><i>Sola Gratia</i>&mdash;Grace Alone</strong>
                    <p style="margin-left:15px;">Salvation is by God's grace alone (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Ephesians+2%3A4-9&version=NKJV">Ephesians 2:4-9</a>). 
                        Getting to heaven does not depend upon how well we live.  God chose to save Jacob and reject Esau before they were born (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Romans+9%3A11-13&version=NKJV">Romans 9:11-13</a>).
                    </p>
                    <strong><i>Sola Fide</i>&mdash;Faith Alone</strong>
                    <p style="margin-left:15px;">We are justified by faith alone, apart from our works (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Romans+3%3A28&version=NKJV">Romans 3:28</a>, <a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Philippians+1%3A29&version=NKJV">Philippians 1:29</a>). Through faith alone we receive Christ 
                        and His perfect righteousness, and are thereby granted eternal pardon.
                    </p>
                    <strong><i>Solus Christus</i>&mdash;Christ Alone</strong>
                    <p style="margin-left:15px;">God saves us because of Christ alone, and not because of anything we do (<a class="believe-link" target="_blank" rel="noopener" 
                        href="">Ephesians 2:8-10</a>). Just as all men are born sinners because of Adam's sin, so All believers receive eternal pardon because of Christ's 
                        blood atonement on the cross. Everything we do is simply a response of gratitude to God for saving us through Christ (<a class="believe-link" target="_blank" 
                        rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+1%3A21&version=NKJV">Romans 1:21</a>, 
                        <a class="believe-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Joshua+24%3A14&version=NKJV">Joshua 24:14</a>).
                    </p>
                    <strong><i>Soli Deo Gloria</i>&mdash;For the Glory of God Alone</strong>
                    <p style="margin-left:15px;">God alone deserves all the glory and the praise for the salvation of His people (<a class="believe-link" target="_blank" 
                        rel="noopener" href="https://www.biblegateway.com/passage/?search=Philippians+2%3A13&version=NKJV">Philippians 2:13</a>). 
                        If man's salvation depends ultimately upon man's choice, then man deserves the glory and praise.  We bring praise to God by serving 
                        Him according to His Word and by the power of His Spirit (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Ephesians+5%3A8-9&version=NKJV">Ephesians 5:8-9</a>).
                    </p>
                </div>
                <hr style="width:80%;">
                <div class="believe-subheader">What we believe about giving</div>
                <div class="believe-text">In the Old Testament God commanded that a tithe, ten percent, of all that He has providentially blessed us with be given back to God. We read in 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Leviticus+27%3A32&version=NKJV">Leviticus 27:32</a>, 
                    <strong>"concerning the tithe of the herd or the flock, of whatever passes under the rod, the tenth one shall be holy to the LORD," </strong> 
                    (see also 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Numbers+18%3A26&version=NKJV">Numbers 18:26</a>, 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Deuteronomy+14%3A24&version=NKJV">Deuteronomy 14:24</a>, 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=2+Chronicles+31%3A5&version=NKJV">2 Chronicles 31:5</a>). 
                    Even with the idea of offering the first fruits 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Leviticus+2%3A12&version=NKJV">Leviticus 2:12</a>) giving must be done trusting God will provide 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Proverbs+3%3A9-10&version=NKJV">Proverbs 3:9-10</a>). 
                    The tithe was for the support of the Tabernacle, and later, the Temple and the work of ministry. It was also for the upkeep and repair of the temple 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Nehemiah+10%3A38&version=NKJV">Nehemiah 10:38</a>, <a class="who-we-are-link" target="_blank"  rel="noopener" href=""></a>Haggai 1:4-11). 
                    It was also used to meet the needs of foreigners, orphans and widows 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Deuteronomy+26%3A12-13&version=NKJV">Deuteronomy 26:12-13</a>). 
                    Now since the New Testament builds on and clarifies the Old Testament, what does our unchangeable God 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Malachi+3%3A6&version=NKJV">Malachi 3:6</a>) desire of us now as His church? 
                    In the NT we still see the command to support the ministry of the word of God 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Timothy+5%3A18&version=NKJV">1 Timothy 5:18</a>), 
                    widows 
                    (<a class="believe-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Timothy+5%3A9-10&version=NKJV">1 Timothy 5:9-10</a>) and the poor 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+15%3A26&version=NKJV">Romans 15:26</a>). 
                    While Christ fulfills the Law of Moses, we still are to obey the moral law out of thankfulness. Nowhere do we see a command that tithing is done. Christ even praises the widow who gave her two mites 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Luke+21%3A3-4&version=NKJV">Luke 21:3-4</a>). 
                    Why? Because of her heart attitude! Now that Christ, not with silver or gold but His precious blood has redeemed us, we must now look at giving back to the Lord with a new attitude! Not grudgingly or of necessity; for God loves a cheerful giver 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=2+Corinthians+9%3A7&version=NKJV">2 Corinthians 9:7</a>). 
                    Interestingly enough, if God puts the burden on a heart, because of ability 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Corinthians+16%3A2&version=NKJV">1 Corinthians 16:2</a>, 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Peter+4%3A10&version=NKJV">1 Peter 4:10</a>), 
                    the New Testament even expands the Old Testament command telling us to give in liberality 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+12%3A8&version=NKJV">Romans 12:8</a>) 
                    knowing it is more blessed to give than receive 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Acts+20%3A35&version=NKJV">Acts 20:35</a>). 
                    Our purpose now, with eternal life in view, is to be rich to God storing up treasures for the life to come 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Timothy+6%3A17-19&version=NKJV">1 Timothy 6:17-19</a>). 
                </div>
            </div>

        </div>
    </div> 
</div>
