<div id="what-we-believe" class="full-page pad-content" 
                          style="background-color: transparent;color:black;height:fit-content;">
    <div class="background-image-bible page-layout">
        <div class="link-box">
            <a href="" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Main Page</a>
            <a href="../#/who-are-we" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Who We Are</a>
            <a href="../#/join-with-us" class="text-outline-white link-button outlined-text-blue;" style="color:darkblue">Join With Us</a>
        </div>

        <div class="text-outline-blue intro-title-grid title-grid-layout">
            <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                <div style="border: transparent 2px solid;width:100%;font-size:5.0em;">What We Believe</div>
            </div>
        </div>

        <div>        
            <div style="margin: 0 10vw;border-radius:15px;background-color:#ffffffdd;padding:15px 0;">
                <p class="believe-subheader">Why do we need God?</p>
                <p class="believe-text">
                    <strong>Humanity</strong> has a problem.  It's a a problem that we caused for our&shy;selves, but we can't fix it our&shy;selves&mdash;it is be&shy;yond 
                    our power to do so.<br><br>
                    <strong>You see,</strong> our first ancest&shy;ors were created to be perfect beings, but they still had a choice&mdash;they could obey God the Creator, 
                    or they could reject Him. To obey him would have meant having a perfect life, and a life that would last forever. But they made 
                    the terr&shy;ible choice to reject God, and when they did that, they brought the sent&shy;ence of death upon them&shy;selves.  They would be 
                    mortal, and they would be unable to take back the choice they made. What's worse, they passed that sent&shy;ence of death on to all 
                    of us who have come after them.<br><br>                    
                    <strong>So why can't</strong> we fix the prob&shy;lem?  Can't we just de&shy;cide to obey God?  Can't we set things right on our own?  Sadly, no.  
                    Part of the mort&shy;al&shy;ity we inherit makes it so that we will always&mdash;<i>always</i>&mdash;sin against God.  It's in&shy;ev&shy;it&shy;able that 
                    we will turn away from God.  It is in&shy;ev&shy;it&shy;able that we will sin.  And when we sin, we re&shy;in&shy;force the death sent&shy;ence we in&shy;her&shy;ited.  
                    We prove to all of time and e&shy;ter&shy;ni&shy;ty that we are what God says we are&mdash;sin&shy;ners de&shy;serv&shy;ing of e&shy;ter&shy;nal pun&shy;ish&shy;ment.<br><br>                    
                    <strong>Will it help</strong> if we do more good deeds than evil ones?  So many people seem to think so.  But God's answer is a 
                    resounding No.  The Lord Jesus Christ said, "Therefore you shall be perfect, just as your Father in heaven is perfect 
                    (<a target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Matthew+5%3A48&version=NKJV">Matthew 5:48</a>)." 
                    It's not about get&shy;ting to be good e&shy;nough for God.  You can never, ever be&shy;come good e&shy;nough for God. It is too late.  
                    You are al&shy;rea&shy;dy lost.  That's ter&shy;ri&shy;ble news!  <strong>But God has an ans&shy;wer.</strong><br><br>                    
                    <strong>God says</strong> that sin must be paid for.  You can pay for your own sin by ex&shy;ist&shy;ing in e&shy;ter&shy;nal pun&shy;ish&shy;ment, or you can let 
                    God pay for them.  Is that for real?  Can God real&shy;ly pay for our sin and take away the pun&shy;ish&shy;ment we de&shy;serve?  Yes!  
                    You see, Jesus Christ, the Son of God, is no mere mort&shy;al who is sad&shy;dled with the same pun&shy;ish&shy;ment that we are.  He is, 
                    rather, God Him&shy;self, fused into hu&shy;man&shy;ity, born into un&shy;stained, sin&shy;less human flesh.  And when He died upon the cross 
                    there in Jeru&shy;salem, he took upon Him&shy;self the ter&shy;ri&shy;ble pun&shy;ish&shy;ment we de&shy;serve.  And He proved it to be so by rais&shy;ing 
                    Him&shy;self up from death!<br><br>                    
                    <strong>So your choice</strong> now is this: will you con&shy;tin&shy;ue on your current course toward e&shy;ter&shy;nal de&shy;struc&shy;tion, or will you turn to 
                    God and call on Him to save you from  your sin?  You can today, right where you are, ask Jesus to rescue you from 
                    the pun&shy;ish&shy;ment you de&shy;serve for your re&shy;jec&shy;tion of God.  You can be born into God's fam&shy;ily.  You can ex&shy;per&shy;i&shy;ence the 
                    am&shy;a&shy;zing free&shy;dom from being trap&shy;ped by your past.  You can ex&shy;per&shy;i&shy;ence a life that is so won&shy;der&shy;ful, so full of joy, 
                    that no&shy;thing you ever ex&shy;per&shy;i&shy;enced be&shy;fore can match it.<br><br>                    
                    <strong>If you take this step today, please con&shy;tact us and let us know.  We can help you learn how to con&shy;tin&shy;ue in free&shy;dom, joy, and peace with God. </strong>
                <hr style="width:80%;">
                <p class="believe-subheader">Let's talk about what we believe!</p>
                <p class="believe-text">The things we be&shy;lieve go all the way back to the be&shy;gin&shy;nings of his&shy;tory. Our be&shy;liefs are based on the time&shy;less truth of the Bible, 
                    the re&shy;vealed writ&shy;ten word of God Him&shy;self. The Bible tells us that this Word of God can&shy;not be broken (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=John+10%3A35&version=NKJV">John 10:35</a>). 
                    Be&shy;cause of this, the prom&shy;is&shy;es of God were ful&shy;fil&shy;led not just through&shy;out hi&shy;story (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=Joshua+23%3A14&version=NKJV">Joshua 23:14</a>), but also in 
                    Jesus Christ (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=2+corinthians+1%3A20&version=NKJV">2&nbsp;Corinthians 1:20</a>). And there's so much more about the 
                    Bible&mdash;like how God has im&shy;bued it with a spir&shy;it&shy;ual power (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=Hebrews%204%3A12&version=NKJV">Hebrews 4:12</a>) 
                    that can open your eyes to the re&shy;al&shy;ity of some&shy;thing&mdash;Some&shy;one&mdash;great&shy;er than your&shy;self. Some&shy;one who can turn you into a new per&shy;son. 
                    Some&shy;one who can make the life you have now seem like no&shy;thing com&shy;pared to what He of&shy;fers you.
                </p>
                <br>
                <button class="believe-text believe-link link-button" routerLink="/the-bible">Click here to read more about how the Bible can connect you with God!</button>
                <hr style="width:80%;">
                <p class="believe-subheader">Our faith, in a nutshell</p>
                <p class="believe-text">Five hundred years ago, the pi&shy;on&shy;eers of our faith laid out five prin&shy;ci&shy;ples. We call them the Five <i>Solas</i>, 
                    because in the or&shy;ig&shy;in&shy;al Latin, the name of each prin&shy;ci&shy;ple began with the word <i>Sola</i> or a form of it, which means "Alone". Here they are:
                </p>
                <div class="believe-text" style="width:fit-content;height:fit-content;border:2px solid darkblue;margin: 0 10%;background-color:white;font-size:1.1em;margin-bottom:15px;">
                    <strong><i>Sola Scriptura</i>&mdash;Scripture Alone</strong>
                    <p style="margin-left:15px;"><a href="../#the-bible">The Bible</a>, being the Word of God (<a  class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=2+Peter+1%3A19-21&version=NKJV">2&nbsp;Peter 1:19-21</a>), 
                        is the ul&shy;ti&shy;mate au&shy;thor&shy;ity (<a  class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Luke+4%3A4&version=NKJV">Luke 4:4</a>), 
                        not the trad&shy;it&shy;ions of the church or the opin&shy;ions of men (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Matthew+4%3A4&version=NKJV">Matthew 4:4</a>, 
                        <a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=John+17%3A17&version=NKJV">John 17:17</a>).
                    </p>
                    <strong><i>Sola Gratia</i>&mdash;Grace Alone</strong>
                    <p style="margin-left:15px;">Salvation is by <a href="../#grace">God's grace alone</a> (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Ephesians+2%3A4-9&version=NKJV">Ephesians 2:4-9</a>). 
                        Get&shy;ting to hea&shy;ven does not de&shy;pend upon how well we live.  God chose to save Jacob and re&shy;ject Esau be&shy;fore they were born (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Romans+9%3A11-13&version=NKJV">Romans 9:11-13</a>).
                    </p>
                    <strong><i>Sola Fide</i>&mdash;Faith Alone</strong>
                    <p style="margin-left:15px;">We are just&shy;i&shy;fied by <a href="../#faith">faith al&shy;one</a>, a&shy;part from our works (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Romans+3%3A28&version=NKJV">Romans 3:28</a>, <a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Philippians+1%3A29&version=NKJV">Philippians 1:29</a>). Through faith a&shy;lone we re&shy;ceive Christ 
                        and His per&shy;fect right&shy;eous&shy;ness, and are there&shy;by grant&shy;ed e&shy;ter&shy;nal par&shy;don.
                    </p>
                    <strong><i>Solus Christus</i>&mdash;Christ Alone</strong>
                    <p style="margin-left:15px;">God saves us be&shy;cause of <a href="../#jesus">Jesus Christ a&shy;lone</a>, and not be&shy;cause of any&shy;thing we do (<a class="believe-link" target="_blank" rel="noopener" 
                        href="">Ephesians 2:8-10</a>). Just as all men are born sin&shy;ners be&shy;cause of Adam's sin, so all be&shy;lie&shy;vers re&shy;ceive e&shy;ter&shy;nal par&shy;don be&shy;cause of Christ's 
                        blood a&shy;tone&shy;ment on the cross. Eve&shy;ry&shy;thing we do is sim&shy;ply a re&shy;sponse of gra&shy;ti&shy;tude to God for sav&shy;ing us through Christ (<a class="believe-link" target="_blank" 
                        rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+1%3A21&version=NKJV">Romans 1:21</a>, 
                        <a class="believe-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Joshua+24%3A14&version=NKJV">Joshua 24:14</a>).
                    </p>
                    <strong><i>Soli Deo Gloria</i>&mdash;For the Glory of God Alone</strong>
                    <p style="margin-left:15px;">God a&shy;lone de&shy;serves all the glo&shy;ry and the praise for the sal&shy;va&shy;tion of His peo&shy;ple (<a class="believe-link" target="_blank" 
                        rel="noopener" href="https://www.biblegateway.com/passage/?search=Philippians+2%3A13&version=NKJV">Philippians 2:13</a>). 
                        If man's sal&shy;va&shy;tion de&shy;pends ul&shy;ti&shy;mate&shy;ly upon man's choice, then man de&shy;serves the glory and praise.  We bring praise to God by serv&shy;ing 
                        Him ac&shy;cord&shy;ing to His Word and by the power of His Spi&shy;rit (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Ephesians+5%3A8-9&version=NKJV">Ephesians 5:8-9</a>). This is the <a href="../#meaning">true meaning of life</a>.
                    </p>
                </div>
                <hr style="width:80%;">
                <div class="believe-subheader">What we believe about giving</div>
                <div class="believe-text">In the Old Testament God com&shy;mand&shy;ed that a tithe, ten per&shy;cent, of all that He has 
                    prov&shy;id&shy;ent&shy;ial&shy;ly blessed us with be giv&shy;en back to God. We read in 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Leviticus+27%3A32&version=NKJV">Leviticus 27:32</a>, 
                    <strong>"con&shy;cern&shy;ing the tithe of the herd or the flock, of what&shy;ever pas&shy;ses un&shy;der the rod, the tenth one shall be holy to the LORD," </strong> 
                    (see also 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Numbers+18%3A26&version=NKJV">Numbers 18:26</a>, 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Deuteronomy+14%3A24&version=NKJV">Deuteronomy 14:24</a>, 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=2+Chronicles+31%3A5&version=NKJV">2&nbsp;Chronicles 31:5</a>). 
                    Even with the idea of of&shy;fer&shy;ing the first fruits 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Leviticus+2%3A12&version=NKJV">Leviticus 2:12</a>) 
                    giv&shy;ing must be done trust&shy;ing God will pro&shy;vide 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Proverbs+3%3A9-10&version=NKJV">Proverbs 3:9-10</a>). 
                    The tithe was for the sup&shy;port of the Tab&shy;ern&shy;acle, and la&shy;ter, the Tem&shy;ple and the work of min&shy;is&shy;try. 
                    It was also for the up&shy;keep and re&shy;pair of the tem&shy;ple 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Nehemiah+10%3A38&version=NKJV">Nehemiah 10:38</a>, 
                    <a class="who-we-are-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Haggai+1%3A4-11&version=NKJV">Haggai 1:4-11</a>). 
                    It was also used to meet the needs of for&shy;eign&shy;ers, orph&shy;ans and wid&shy;ows 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Deuteronomy+26%3A12-13&version=NKJV">Deuteronomy 26:12-13</a>). 
                    Now since the New Test&shy;am&shy;ent builds on and clar&shy;if&shy;ies the Old Test&shy;am&shy;ent, what does our un&shy;change&shy;able God 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Malachi+3%3A6&version=NKJV">Malachi 3:6</a>) 
                    de&shy;sire of us now as His church? In the NT we still see the com&shy;mand to sup&shy;port the min&shy;is&shy;try of the word of God 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Timothy+5%3A18&version=NKJV">1&nbsp;Timothy 5:18</a>), 
                    widows 
                    (<a class="believe-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Timothy+5%3A9-10&version=NKJV">1&nbsp;Timothy 5:9-10</a>) 
                    and the poor 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+15%3A26&version=NKJV">Romans 15:26</a>). 
                    While Christ ful&shy;fills the Law of Moses, we still are to obey the moral law out of thank&shy;ful&shy;ness. No&shy;where do we see a 
                    com&shy;mand that tith&shy;ing is done. Christ even prais&shy;es the wid&shy;ow who gave her two mites 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Luke+21%3A3-4&version=NKJV">Luke 21:3-4</a>). 
                    Why? Because of her heart at&shy;ti&shy;tude! Now that Christ, not with sil&shy;ver or gold but His pre&shy;cious blood has 
                    re&shy;deemed us, we must now look at giv&shy;ing back to the Lord with a new att&shy;it&shy;ude! <strong>"Not grudgingly or of necessity; for God loves a cheerful giver"</strong> 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=2+Corinthians+9%3A7&version=NKJV">2&nbsp;Corinthians 9:7</a>). 
                    Int&shy;er&shy;est&shy;ing&shy;ly enough, if God puts the burd&shy;en on a heart, be&shy;cause of abil&shy;ity 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Corinthians+16%3A2&version=NKJV">1&nbsp;Corinthians 16:2</a>, 
                    <a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Peter+4%3A10&version=NKJV">1&nbsp;Peter 4:10</a>), 
                    the New Test&shy;am&shy;ent even ex&shy;pands the Old Test&shy;am&shy;ent com&shy;mand tell&shy;ing us to give in lib&shy;er&shy;al&shy;ity 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+12%3A8&version=NKJV">Romans 12:8</a>) 
                    know&shy;ing <strong>"it is more blessed to give than re&shy;ceive"</strong> 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=Acts+20%3A35&version=NKJV">Acts 20:35</a>). 
                    Our pur&shy;pose now, with e&shy;ter&shy;nal life in view, is to be rich to God stor&shy;ing up treas&shy;ures for the life to come 
                    (<a class="believe-link" target="_blank"  rel="noopener" href="https://www.biblegateway.com/passage/?search=1+Timothy+6%3A17-19&version=NKJV">1&nbsp;Timothy 6:17-19</a>). 
                </div>
            </div>
        </div>
    </div> 
</div>
