<div id="what-we-believe" class="full-page pad-content" 
                          style="background-color: transparent;color:black;height:fit-content;">
    <div class="background-image-church-family page-layout">
        <div class="link-box">
            <a href="" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Main Page</a>
            <a href="../#/who-are-we" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Who We Are</a>
            <a href="../#/join-with-us" class="text-outline-white link-button outlined-text-brown;" style="color:brown">Join With Us</a>
        </div>

        <div class="text-outline-brown intro-title-grid title-grid-layout">
            <div style="display:flex;flex-direction: column;grid-column:5/span 15;grid-row:1/span 10;">
                <div style="border: transparent 2px solid;width:100%;font-size:5.0em;">What We Believe</div>
            </div>
        </div>

        <div>        
            <div style="margin: 0 10vw;border-radius:15px;background-color:#ffffffdd;padding:15px 0;">
                <p class="believe-subheader">Why do we need God?</p>
                <p class="believe-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare velit eu neque posuere, a bibendum mi varius. Etiam tempus libero tellus, non dignissim velit dapibus ac. Vestibulum vel erat vestibulum, pulvinar metus in, eleifend neque. Nam et maximus leo. Vivamus molestie accumsan enim, vel viverra arcu porttitor ut. Proin dapibus ex sed euismod sagittis. Etiam dignissim lectus sem, ac lacinia odio lacinia a. Donec lobortis enim a enim pharetra pellentesque. Nullam quis arcu ultrices, efficitur nisl sit amet, condimentum ante.

                    <hr style="width:80%;">
                    <p class="believe-subheader">Let's talk about what we believe!</p>
                <p class="believe-text">The things we believe go all the way back to the beginnings of history. Our beliefs are based on the timeless truth of the Bible, 
                    the revealed written word of God Himself. The Bible tells us that this Word of God cannot be broken (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=John+10%3A35&version=NKJV">John 10:35</a>). 
                    Because of this, the promises of God were fulfilled not just throughout history (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=Joshua+23%3A14&version=NKJV">Joshua 23:14</a>), but also in 
                    Jesus Christ (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=2+corinthians+1%3A20&version=NKJV">2 Corinthians 1:20</a>). And there's so much more about the 
                    Bible&mdash;like how God has imbued it with a spiritual power (<a class="believe-link" target="_blank" rel="noopener" 
                    href="https://www.biblegateway.com/passage/?search=Hebrews%204%3A12&version=NKJV">Hebrews 4:12</a>) 
                    that can change you from someone who is wounded and lonely into a new person inside! 
                    <a class="believe-link" href="../#/the-bible">Click here to read more about how the Bible can connect you with God!</a>
                </p>
                <hr style="width:80%;">
                <p class="believe-subheader">Our faith, in a nutshell</p>
                <p class="believe-text">Five hundred years ago, the pioneers of our faith laid out five principles. We call them the Five <i>Solas</i>, 
                    because in the original Latin, the name of each principle began with the word <i>Sola</i> or a form of it, which means "Alone". Here they are:
                </p>
                <div class="believe-text" style="width:fit-content;height:fit-content;border:2px solid brown;margin: 0 10%;background-color:white;font-size:1.1em;margin-bottom:15px;">
                    <strong><i>Sola Scriptura</i>&mdash;Scripture Alone</strong>
                    <p style="margin-left:15px;">The Bible, being the Word of God (<a  class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=2+Peter+1%3A19-21&version=NKJV">2 Peter 1:19-21</a>), 
                        is the ultimate authority (<a  class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Luke+4%3A4&version=NKJV">Luke 4:4</a>), 
                        not the traditions of the church or the opinions of men (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Matthew+4%3A4&version=NKJV">Matthew 4:4</a>, 
                        <a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=John+17%3A17&version=NKJV">John 17:17</a>).
                    </p>
                    <strong><i>Sola Gratia</i>&mdash;Grace Alone</strong>
                    <p style="margin-left:15px;">Salvation is by God's grace alone (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Ephesians+2%3A4-9&version=NKJV">Ephesians 2:4-9</a>). 
                        Getting to heaven does not depend upon how well we live.  God chose to save Jacob and reject Esau before they were born (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Romans+9%3A11-13&version=NKJV">Romans 9:11-13</a>).
                    </p>
                    <strong><i>Sola Fide</i>&mdash;Faith Alone</strong>
                    <p style="margin-left:15px;">We are justified by faith alone, apart from our works (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Romans+3%3A28&version=NKJV">Romans 3:28</a>, <a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Philippians+1%3A29&version=NKJV">Philippians 1:29</a>). Through faith alone we receive Christ 
                        and His perfect righteousness, and are thereby granted eternal pardon.
                    </p>
                    <strong><i>Solus Christus</i>&mdash;Christ Alone</strong>
                    <p style="margin-left:15px;">God saves us because of Christ alone, and not because of anything we do (<a class="believe-link" target="_blank" rel="noopener" 
                        href="">Ephesians 2:8-10</a>). Just as all men are born sinners because of Adam's sin, so All believers receive eternal pardon because of Christ's 
                        blood atonement on the cross. Everything we do is simply a response of gratitude to God for saving us through Christ (<a class="believe-link" target="_blank" 
                        rel="noopener" href="https://www.biblegateway.com/passage/?search=Romans+1%3A21&version=NKJV">Romans 1:21</a>, 
                        <a class="believe-link" target="_blank" rel="noopener" href="https://www.biblegateway.com/passage/?search=Joshua+24%3A14&version=NKJV">Joshua 24:14</a>).
                    </p>
                    <strong><i>Soli Deo Gloria</i>&mdash;For the Glory of God Alone</strong>
                    <p style="margin-left:15px;">God alone deserves all the glory and the praise for the salvation of His people (<a class="believe-link" target="_blank" 
                        rel="noopener" href="https://www.biblegateway.com/passage/?search=Philippians+2%3A13&version=NKJV">Philippians 2:13</a>). 
                        If man's salvation depends ultimately upon man's choice, then man deserves the glory and praise.  We bring praise to God by serving 
                        Him according to His Word and by the power of His Spirit (<a class="believe-link" target="_blank" rel="noopener" 
                        href="https://www.biblegateway.com/passage/?search=Ephesians+5%3A8-9&version=NKJV">Ephesians 5:8-9</a>).
                    </p>
                </div>
            </div>

            <div>

            </div>
            <br>
        </div>
    </div> 
</div>
