@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*                                                                                                                   */
/*  ******  **   **  *****   ******      ******   ******  **      ******   ****    ******   ****    *****    *****   */
/*  ******  **   **  ******  ******      ******   ******  **      ******   ****    ******  ******   ******   *****   */
/*    **    **   **  **   ** **         **       **      **      **      **   **    **   **    **  **   **  **       */
/*    **    **   **  **   ** **         **       **      **      **      **   **    **   **    **  **   **  **       */
/*    **     ****    ******  ******      ****    ******  **      ******  **         **   **    **  ******    ****    */
/*    **     ****    *****   ******      ****    ******  **      ******  **         **   **    **  ******    ****    */
/*    **      **     **      **              **  **      **      **      **   **    **   **    **  **   **      **   */
/*    **      **     **      **              **  **      **      **      **   **    **   **    **  **   **      **   */
/*    **      **     **      ******     ******   ******  ******  ******   ****      **    ******   **   **  *****    */
/*    **      **     **      ******     *****    ******  ******  ******   ****      **     ****    **   **  *****    */
/*                                                                                                                   */
/*********************************************************************************************************************/
/*********************************************************************************************************************/

html {
  scroll-behavior: smooth;
}
:host {
    font-family: "Bookman Old Style", Georgia, "Times New Roman", Times, "Trirong", serif, -apple-system, BlinkMacSystemFont, 
                  "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: transparent;
  font-family: "Bookman Old Style", Georgia, "Times New Roman", Times, serif;
  font-weight:300;
} 
h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
}
img {
  border-radius:0;
  object-fit: cover;
}
img:hover {
  z-index: 1;
}
p {
  margin: 0;
}
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
footer a {
  display: flex;
  align-items: center;
}
div.poem { 
	text-align:left;
	margin-left:5%;
	width:90%;
	position: relative;
}
.poem .stanza {
	margin-top: 1em;
}
.stanza span,
.stanza div,
.stanza p {
	display:block;
	line-height: 1.2em;
	margin-left: 2em;
	text-indent: -2em;
	margin-top: 0;
}
.stanza br {
	display: none;
}

/******************************************************************************************************/
/******************************************************************************************************/
/*                                                                                                    */
/*  ******  ******       *****   ******  **      ******   ****    ******   ****    *****     *****    */
/*  ******  ******       *****   ******  **      ******   ****    ******  ******   ******    *****    */
/*    **    **    **    **       **      **      **      **   **    **   **    **  **   **  **        */
/*    **    **    **    **       **      **      **      **   **    **   **    **  **   **  **        */
/*    **    **    **     ****    ******  **      ******  **         **   **    **  ******    ****     */
/*    **    **    **     ****    ******  **      ******  **         **   **    **  ******    ****     */
/*    **    **    **         **  **      **      **      **   **    **   **    **  **   **      **    */
/*    **    **    **         **  **      **      **      **   **    **   **    **  **   **      **    */
/*  ******  ******      ******   ******  ******  ******   ****      **    ******   **   **  *****     */
/*  ******  ******      *****    ******  ******  ******   ****      **     ****    **   **  *****     */
/*                                                                                                    */
/******************************************************************************************************/
/******************************************************************************************************/

#main {
  width:97vw;
  height:96vh;
}

/**************************************************************************/
/**************************************************************************/
/*                                                                        */
/*   ******   **          ****     ******    ******   ********   ******   */
/*  **    **  **         **  **   ***  ***  ***  ***  ********  ***  ***  */
/*  **    **  **        **    **  **        **        **        **        */
/*  **        **        **    **  *******   *******   ********  *******   */
/*  **        **        ********   *******   *******  ********   *******  */
/*  **        **        ********        **        **  **              **  */
/*  **    **  **        **    **        **        **  **              **  */
/*  **    **  ********  **    **  ***  ***  ***  ***  ********  ***  ***  */
/*   ******   ********  **    **   ******    ******   ********   ******   */
/*                                                                        */
/**************************************************************************/
/**************************************************************************/

/*
BBBBBBBBBBB
BB         BB
BB         BB
BB         BB
BBBBBBBBBBB
BB         BB
BB         BB
BB         BB
BBBBBBBBBBB
*/

.background-image {
  background-position: bottom center;
  background-size:cover;
  filter:brightness(100%);
  height:105%;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
}
.background-image-bible {
  background-image:url('../src/assets/img/bible.jpg');
  background-position: bottom center;
  background-size:cover;
  filter:brightness(100%);
  background-color:white;
  height:105%;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
}
.background-image-church-family {
  background-position: bottom center;
  background-size:cover;
  filter:brightness(100%);
  background-color:white;
  height:105%;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
}
.background-image-church-family-sticky {
  background-image:url('../src/assets/img/AnivMed.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.background-image-congregation-picture {
  background-image:url('../src/assets/img/AnivMed.jpg');
}
.background-image-global-family {
  background-position: bottom center;
  background-size:cover;
  filter:brightness(100%);
  background-color:white;
  height:104%;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
}
.background-image-find-us {
  position:absolute;
  background-position: bottom center;
  background-size:cover;
  background-image:url('src/assets/img/CarverCountyMap.png');
  opacity:0.4;
  height:105%;
  width:97vw;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
  background-color:white;
  z-index:-1;
}
.background-image-intro {
  background-image: url('src/assets/img/StPaulChurchWideView.dimmed.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:center;
}
.background-image-main {
  background-image: url('src/assets/img/StPaulChurchWideView.dimmed.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:center;
}
.biblequote {
  color:darkblue;
}
.black-text {
  font-size:1.4em;
  padding: 5px 20px;
}
.blockquote {
  font-style: normal;
  text-align: left;
  margin-left: 32px;
  margin-bottom: 20px;
  font-family: Helvetica, Arial, Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
  padding-right: 9%;
}
.blue-title {
  color: darkblue;
}
.bubble {
  margin: 0 10vw;
  border-radius:15px;
  background-color:#ffffffdd;
  padding:15px 0;
}
.bubble-dark {
  margin: 0 10vw;
  border-radius:15px;
  background-color:#000000af;
  padding:15px 0;
  overflow-y:visible;
}
.bubble-light {
  margin: 0 10vw;
  border-radius:15px;
  background-color:#ffffffdd;
  padding:15px 0;
}
/*
  CCCCCCCCCC
 CCCCCCCCCCCC 
CCC        CCC
CCC        CCC
CCC
CCC
CCC        CCC
CCC        CCC
CCCCCCCCCCCCCC
  CCCCCCCCCC
*/
.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.card.card-small {
  height: 16px;
  width: 168px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.card-container .card:not(:last-child) {
  margin-right: 0;
}
.card-container .card:not(.highlight-card) {
  cursor: pointer;
}
.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}
.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}
.card.card.highlight-card span {
  margin-left: 60px;
}
.card svg.material-icons path {
  fill: #888;
}
.church-family-links {
  font-size:calc(1.0vh + 1.0vw + 1.0em);
  text-align:center;
  background-color:#000000af;
  border-radius:0.5em;
  grid-column:48;
  grid-row-start:20;
  color:white;
  width:max-content;
  height:max-content;
  padding: 15px;
}
.church-family-link-button {
  background: none;
  border: solid 1px transparent;
  color:white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  padding: 0;
  text-align:center;
}
.church-family-link-button:hover {
  text-decoration: underline;
}
.church-logo {
  background-color:transparent;
  height:200px;
  width:130px;
  grid-column:2;
  grid-row:1
}
.church-name {
  color: white;
  display:flex;
  flex-direction: column;
  grid-column:5/span 15;
  grid-row:1/span 10;
}
.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}
.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
/*
DDDDDDDDDDD                   GGGGGGGGGGG
DDDDDDDDDDDD                 GGGGGGGGGGGGG 
DDD       DDD               GGG
DDD       DDD  ===========  GGG
DDD       DDD  ===========  GGG     GGGGGGG
DDD       DDD  ===========  GGG     GGGGGGG
DDD       DDD               GGG         GGG
DDDDDDDDDDDD                 GGGGGGGGGGGGG 
DDDDDDDDDDD                   GGGGGGGGGGG
*/
.dark-link {
  color:#000022;
}
.dark-subheader{
  font-size:1.6em;
  text-align:center;
  margin:0 10vw;
}
.dark-text {
  font-size:1.4em;
  padding: 5px 20px;
  color:#000022;
}
.darken {
  filter: brightness(40%);
}
.family-slides {
  animation-name: rotateFamily;
  animation-duration:45s;
  animation-iteration-count: 1;
  background-image:url('src/assets/img/AnivMed.jpg');
}
.find-us-text {
  grid-column:2/span 2;
  grid-row:1;
  text-align:center;
  font-size:calc(1.0vh + 1.0vw + 0.3em);
  padding-left:50px;
  padding-right:50px;
  padding-top:50px;
}
.find-us-title-text {
  font-size:calc(1.5vh + 1.5vw + 1.5em);
  margin-top:4vh;
  margin-left:2vw;
  color:black;
  grid-column:1/span 3;
  grid-row:1;
  width:-moz-fit-content;
  width:fit-content;
  text-align:left;
}
.footer-color-brown {
  background-color: brown;
}
.footer-color-dark-blue {
  background-color: #000022;
}
.footer-width {
  width:94.1vw;
  margin-left:1.4vw;
}
.full-page {
  height:100vh;
}
.global-family-links {
  height:23vh;
  margin-top:4vh;
  font-size:calc(1.0vh + 1.0vw + 1.0em);
  text-align:center;
  background-color:#000000af;
  border-radius:0.5em;
  grid-column:48;
  grid-row:20/span 32;
  color:white;
  width:max-content;
  height:max-content;
  padding: 15px;

}
.global-slides {
  animation-name: rotateGlobal;
  animation-duration:45s;
  animation-iteration-count: 1;
  background-image:url('src/assets/img/Friends.jpg');
}
.grid-100-square {
  display:grid;
  grid-template-columns:repeat(100, minmax(5px, 1%));
  grid-template-rows:repeat(100, minmax(5px, 1%));
}
.grid-20-square {
  display:grid;
  grid-template-columns:repeat(20, minmax(5px, 100%));
  grid-template-rows:repeat(20, minmax(10px, 100%));
}
.grid-for-text {
  display:grid;
  grid-template-columns:repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  max-height:100vh;
}
.grid-inline-container {
  display:inline-grid;
  position:relative;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
  grid: gap 0;
  width:100%;
  height:100%;
}
/*
HHH       HHH               IIIIIIIIIIIII
HHH       HHH               IIIIIIIIIIIII
HHH       HHH                    III     
HHHHHHHHHHHHH  ===========       III     
HHHHHHHHHHHHH  ===========       III     
HHH       HHH  ===========       III     
HHH       HHH                    III     
HHH       HHH               IIIIIIIIIIIII
HHH       HHH               IIIIIIIIIIIII
*/
.highlight {
  color:red;
}
.img-class {
  width:105%;
  height:105%;
}
.img-container {
  width:100%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.img-size {
  width:105%;
  height:105%;
  position:relative;
  text-align:center;
  color:black;
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.intro-slides {
  animation-name: rotateIntro;
  animation-duration:15s;
  animation-iteration-count: 1;
  background-image:url('src/assets/img/StPaulChurchWideView.jpeg');
}
.intro-text {
  font-size:calc(1vh + 1vw + 0.3em);
  text-align:center;
}
.intro-text-div {
  border: transparent 2px solid;
  min-width:555px;
  padding:5px;
  background-color:transparent;
  color:white;
  grid-column:50/span 47;
  grid-row:25/span 20;
  width:-moz-fit-content;
  width:fit-content;
  height:max-content;
}
.intro-title-div {
  border: transparent 2px solid;
  color:white;
  padding:5px;
  grid-column:49/span 47;
  width:100%;
  grid-row:4/span 20;
  text-align:center;
}
.intro-title-grid .title-grid {
  display:grid;
  grid-template-columns: repeat(15, 5%);
  grid-template-rows: repeat(10, 10%);
}
/*
LLLL                            SSSSSSSSS
LLLL                          SS         SS
LLLL                          SS           
LLLL            ===========   SS
LLLL            ===========     SSSSSSSSS  
LLLl            ===========              SS
LLLL                                     SS
LLLLLLLLLLLLL                 SS         SS
LLLLLLLLLLLLL                   SSSSSSSSS
LLLLLLLLLLLLL
*/
.link-button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  padding: 0 20px;
  text-align:left;
  margin-top:-13px
}
.link-button:hover {
  text-decoration: underline;
}
.link-box {
  position:sticky;
  top: 0;
  z-index:1000;
  display:flex;
  flex-direction:row;
  padding:15px 10px 10px 35px;
  margin-right:-8px;
  background-color:#ffffff;
  font-size:calc(1vw + 1vh + 0.1em);
  font-kerning:auto;
  letter-spacing:0.0mm;
}
.map {
  top:0;
  left:0;
  width:100%;
  height:100%;
  
}
.map-container {
  width:90vw;
  height:60vh;
  margin-left:2vw;
  margin-right:3vw;
}
.outlined-text-brown {
  color:brown;
}
.pad-content {
  padding: 20px;
}
.page-dimensions {
  height:95.1vh;
  width:97vw;
}
.page-layout {
  background-attachment: fixed;
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:cover;
}
.page-title {
  font-size:calc(1.5vh + 1.5vw + 2.0em);
  width:100%;
}
.radial-gradient {
  position:absolute;
  padding:10px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(ellipse, white 0%, white 20%, transparent 50%, transparent 100%);
}
.spacer {
  flex: 1;
}
/*
TTTTTTTTTTTTT               ZZZZZZZZZZZZZ
TTTTTTTTTTTTT               ZZZZZZZZZZZZ
     TTT                             ZZ
     TTT                           ZZ
     TTT       ===========       ZZ
     TTT       ===========     ZZ
     TTT       ===========   ZZ
     TTT                    ZZZZZZZZZZZZZ       
     TTT                    ZZZZZZZZZZZZZ
*/
.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}
.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}
.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}
.text-behind {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8))
}
.text-grid-layout {
  border: transparent 2px solid;
  min-width:555px;
  padding:5px;
  color:white;
  grid-column:50/span 47;
  grid-row:25/span 20;
  width:-moz-fit-content;
  width:fit-content;
  height:max-content;
}
.text-outline-blue {
  text-shadow:2px 2px 2px darkblue, -2px -2px 2px darkblue, -2px 2px 2px darkblue, 2px -2px 2px darkblue;
}
.text-outline-brown {
  text-shadow:2px 2px 2px brown, -2px -2px 2px brown, -2px 2px 2px brown, 2px -2px 2px brown;
}
.text-outline-white {
  text-shadow:2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
}
.text-outline-black {
  text-shadow:5px 5px 5px #00000088, -5px -5px 5px #00000088, -5px 5px 5px #00000088, 5px -5px 5px #00000088;
}
.text-size {
  font-size: calc(.6vh + .6vw + .5em);
}
.title-grid-layout {
  border: transparent 2px solid;
  padding:5px;
  grid-column:49/span 47;
  width:100%;
  grid-row:4/span 20;
  text-align:center;
}
.title-text {
  font-size:calc(1.5vh + 1.5vw + 2.0em);
  color:#000022;
  width:-moz-fit-content;
  width:fit-content;
  padding:5px;
  grid-column:3/span 20;
  grid-row:3/span 10;
  width:100%;
  text-align:left;
  margin-right:50px;
}
.values-list {
  font-size:1.5em;
  margin-left:200px;
}
.welcome-text {
  font-size:calc(1vh + 1vw + 1em);
  text-align:center;
}
.white-link {
  color:white;
}
.white-subheader{
  font-size:1.6em;
  text-align:center;
  margin:0 10vw;
  color:white;
}
.white-text {
  font-size:1.55em;
  padding: 5px 20px;
  color:white;
}
.white-title {
  color:white;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/*                                                                                                                              */
/*  **    **  ********  *******   ********     **          ******   **    **  ********  *******   ********  ********   ******   */
/*  **    **  ********  ********  ********   ******       **    **  **    **  ********  ********  ********  ********  ***  ***  */
/*  ***  ***  **        **    **     **     **    **      **    **  **    **  **        **    **     **     **        **        */
/*  ***  ***  **        **    **     **     **    **      **    **  **    **  **        **    **     **     **        **        */
/*  * **** *  ********  **    **     **     ********      **    **  **    **  ********  *******      **     ********  *******   */
/*  ** ** **  ********  **    **     **     ********      **    **  **    **  ********  *******      **     ********   *******  */
/*  **    **  **        **    **     **     **    **      **    **  **    **  **        **    **     **     **              **  */
/*  **    **  **        **    **     **     **    **      **    **  **    **  **        **    **     **     **              **  */
/*  **    **  ********  ********  ********  **    **       ** **    ********  ********  **    **  ********  ********  ***  ***  */
/*  **    **  ********  *******   ********  **    **            **   ******   ********  **    **  ********  ********   ******   */
/*                                                                                                                              */
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/* Monitor, small */
@media screen and (min-width: 1281px) and (max-width:1680px) and (min-height: 901px) and (max-height:1280px) {
  .footer-width {
    width:94.0vw;
    margin-left:1.65vw;
  }
}

/* Tablet, portrait */
@media screen and (min-width: 501px) and (max-width:900px) and (min-height: 901px) and (max-height:1280px) {
  body {
    overflow-x:hidden;
  }
  .footer-width {
    width:92.5vw;
    margin-left:1.9vw;
  }
  .church-family-links {
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row-start:40;
    color:white;
    width:max-content;
    height:max-content;
    padding: 15px;
  }
  .global-family-links {
    /* height:23vh; */
    margin-top:4vh;
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row-start:25;
    color:white;
    width:max-content;
    height:max-content;
    padding: 15px;
  
  }
  .background-image-intro {
    background-image: url('src/assets/img/vertical.church.tower.dimmed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    max-width:99vw;
    z-index:0;
    overflow-x:hidden;
    min-width:none;
  }
  .bubble-dark {
    margin: 0 10vw;
    border-radius:15px;
    background-color:#000000af;
    padding:15px 0;
    overflow-y:hidden;
    max-width:80vw;
  }
  .church-logo {
    background-color:transparent;
    grid-column:7;
    grid-row:1;
    object-fit: contain;
    object-position:center;
    margin-left:1vw;
    /* border: solid 1px coral; */
  }
  .church-name {
    grid-column:1/span 15;
    grid-row:6/span 10;
    display:flex;
    flex-direction: column;
    /* border: solid 1px greenyellow; */
    width:125%;
  }
  .find-us-text {
    grid-column:2/span 2;
    grid-row:1;
    text-align:center;
    font-size:calc(1.0vh + 1.0vw + 0.3em);
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
  }
  .find-us-title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    margin-top:4vh;
    color:black;
    grid-column:1/span 3;
    grid-row:1;
    width:-moz-fit-content;
    width:fit-content;
    text-align:left;
}
  .full-page {
    height:90vh;
    min-height:700px;
  }
  .intro-text-div {
    /* border: pink 1px solid; */
    min-width:200px;
    width:100%;
    padding:10px;
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    height:max-content;
  }
  .intro-title-div {
    /* border: solid 1px lightblue; */
    color:white;
    padding:5px;
    grid-column:2/span 47;
    width:100%;
    grid-row:4/span 20;
    text-align:center;
  }
  .intro-title-grid {
    display:grid;
    grid-template-columns: repeat(15, 5%);
    grid-template-rows: repeat(10, 10%);
    width:100vw;
  }
  .link-box {
    position:sticky;
    top: 0;
    z-index:1000;
    display:flex;
    flex-direction:row;
    padding:5px 5px 5px 5px;
    margin-right:-4px;
    background-color:#ffffff;
    font-size:calc(1vw + 1vh + 0.1em);
    font-kerning:auto;
    letter-spacing:0.0mm;
  }
  .map-container {
    width:80vw;
    height:50vh;
    margin-left:3vw;
    /* border:2px solid green;
    background-color: transparent; */
  }
  .narrow-family-text {
    grid-column:3/span 60;
    text-align: center;
    font-size:calc(1.5vh + 1.5vw + 0.5em);
  }
  .title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px;
    grid-column:3/span 20;
    grid-row:3/span 10;
    width:100%;
    text-align:left;
    margin-right:50px;
  }
  .values-list {
    font-size:1em;
    margin-left:10vw;
  }
  .white-subheader {
    font-size: 1em;
    word-wrap: break-word;
  }
}

/* Tablet, landscape */
@media screen and (min-width: 901px) and (max-width:1280px) and (min-height: 501px) and (max-height:900px) {
  .footer-width {
    width:88.1vw;
    margin-left:1.65vw;
  }
  .find-us-title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    margin-top:4vh;
    margin-left:1vw;
    color:black;
    grid-column:2/span 4;
    grid-row:1;
    width:-moz-fit-content;
    width:fit-content;
    height:max-content;
    text-align:left;
  }
  .background-image-find-us {
    position:absolute;
    background-position: bottom center;
    background-size:cover;
    background-image:url('src/assets/img/CarverCountyMap.png');
    opacity:0.4;
    height:105%;
    width:91.5vw;
    background-repeat:no-repeat;
    background-color:transparent;
    background-attachment:fixed;
    background-color:white;
    z-index:-1;
    }
  .page-dimensions {
    height:95.1vh;
    width:91.5vw;
  }
  .church-family-links {
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row-start:40;
    color:white;
    width:max-content;
    height:max-content;
    padding: 15px;
  }
  .global-family-links {
    /* height:23vh; */
    margin-top:4vh;
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row-start:30;
    color:white;
    width:max-content;
    height:max-content;
    padding: 15px;
  
  }
  .link-box {
    position:sticky;
    top: 0;
    z-index:1000;
    display:flex;
    flex-direction:row;
    padding:5px 5px 5px 5px;
    margin-right:-4px;
    background-color:#ffffff;
    font-size:calc(1vw + 1vh + 0.1em);
    font-kerning:auto;
    letter-spacing:0.0mm;
  }
  .map-container {
    width:80vw;
    height:60vh;
    margin-left:3vw;
  }
  .bubble-dark {
    margin: 0 10vw;
    border-radius:15px;
    background-color:#000000af;
    padding:15px 0;
    overflow-y:hidden;
    max-width:80vw;
  }
  .values-list {
    font-size:1em;
    margin-left:10vw;
  }
  .find-us-text {
    grid-column:2/span 2;
    grid-row:1;
    text-align:center;
    font-size:calc(1.0vh + 1.0vw + 0.3em);
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
  }
  .find-us-title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    margin-top:4vh;
    color:black;
    grid-column:1/span 3;
    grid-row:1;
    width:-moz-fit-content;
    width:fit-content;
    text-align:left;
}
}

/* Phone, portrait */
@media screen and (max-width: 500px) and (max-height: 900px) {
  body {
    overflow-x:hidden;
  }
  .background-image-intro {
    background-image: url('src/assets/img/vertical.church.tower.dimmed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    max-width:500px;
    z-index:0;
    overflow-x:hidden;
    min-width:none;
  }
  .bubble-dark {
    margin: 0 10vw;
    border-radius:15px;
    background-color:#000000af;
    padding:15px 0;
    overflow-y:hidden;
    max-width:80vw;
  }
  .church-family-links {
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row-start:40;
    color:white;
    width:max-content;
    height:max-content;
    padding: 15px;
  }
  .church-logo {
    background-color:transparent;
    grid-column:6;
    grid-row:1;
    object-fit: contain;
    object-position:center;
    margin-left:1vw;
    /* border: solid 1px coral; */
  }
  .church-name {
    grid-column:1/span 15;
    grid-row:6/span 10;
    display:flex;
    flex-direction: column;
    /* border: solid 1px greenyellow; */
    width:125%;
  }
  .find-us-text {
    grid-column:2/span 2;
    grid-row:1;
    text-align:center;
    font-size:calc(1.0vh + 1.0vw + 0.3em);
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
  }
  .find-us-title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    margin-top:4vh;
    color:black;
    grid-column:1/span 3;
    grid-row:1;
    width:-moz-fit-content;
    width:fit-content;
    text-align:left;
}
  .full-page {
    height:90vh;
    min-height:700px;
  }
  .intro-text-div {
    /* border: pink 1px solid; */
    min-width:200px;
    width:100%;
    padding:10px;
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    height:max-content;
  }
  .intro-title-div {
    /* border: solid 1px lightblue; */
    color:white;
    padding:5px;
    grid-column:2/span 47;
    width:100%;
    grid-row:4/span 20;
    text-align:center;
  }
  .intro-title-grid {
    display:grid;
    grid-template-columns: repeat(15, 5%);
    grid-template-rows: repeat(10, 10%);
    width:100vw;
  }
  .link-box {
    position:sticky;
    top: 0;
    z-index:1000;
    display:flex;
    flex-direction:row;
    padding:5px 5px 5px 5px;
    margin-right:-4px;
    background-color:#ffffff;
    font-size:calc(1vw + 1vh + 0.1em);
    font-kerning:auto;
    letter-spacing:0.0mm;
  }
  .map-container {
    width:80vw;
    height:50vh;
    margin-left:3vw;
    /* border:2px solid green;
    background-color: transparent; */
  }
  .narrow-family-text {
    grid-column:3/span 60;
    text-align: center;
    font-size:calc(1.5vh + 1.5vw + 0.5em);
  }
  .title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px;
    grid-column:3/span 20;
    grid-row:3/span 10;
    width:100%;
    text-align:left;
    margin-right:50px;
  }
  .values-list {
    font-size:1em;
    margin-left:10vw;
  }
  .white-subheader {
    font-size: 1em;
    word-wrap: break-word;
  }
}

/* Phone, landscape */
@media screen and (max-height:500px) and (max-width: 900px) {

  body {
    overflow-x:hidden;
  }
  .background-image-intro {
    background-image: url('src/assets/img/StPaulChurchWideView.dimmed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    max-width:900px;
    max-height:500px;
    z-index:0;
    overflow-x:hidden;
    min-width:none;
  }
  .bubble-dark {
    margin: 0 10vw;
    border-radius:15px;
    background-color:#000000af;
    padding:15px 0;
    overflow-y:hidden;
    max-width:80vw;
  }
  .church-family-links {
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row:20/span 65;
    height:max-content;
    color:white;
    width:max-content;
    padding: 15px;
  }
  .church-logo {
    /* display:none; */
    background-color:transparent;
    grid-column:1;
    grid-row:1;
    object-fit: contain;
    object-position:left;
    margin-left:0vw;
    width:max-content;
    height:max-content;
    /* border: solid 1px coral; */
  }
  .church-name {
    grid-column:2/span 14;
    grid-row:1/span 10;
    display:flex;
    flex-direction: column;
    /* border: solid 1px greenyellow; */
    width:115%;
  }
  .find-us-text {
    grid-column:2/span 2;
    grid-row:1;
    text-align:center;
    font-size:calc(1.0vh + 1.0vw + 0.3em);
    padding-left:50px;
    padding-right:50px;
    padding-top:10px;
    /* border:solid 2px pink */
  }
  .find-us-title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    margin-top:4vh;
    color:black;
    grid-column:1/span 3;
    grid-row:1;
    width:-moz-fit-content;
    width:fit-content;
    text-align:left;
}
  .full-page {
    height:88vh;
    min-height:350px;
  }
  .intro-text {
    font-size:calc(1vh + 1vw + 0.5em);
    text-align:center;
  }
  .global-family-links {
    margin-top:4vh;
    font-size:calc(1.0vh + 1.0vw + 1.0em);
    text-align:center;
    background-color:#000000af;
    border-radius:0.5em;
    grid-column:48;
    grid-row:20/span 65;
    height:max-content;
    color:white;
    width:max-content;
    padding: 15px;
  
  }
  .intro-text-div {
    /* border: pink 1px solid; */
    min-width:200px;
    width:100%;
    padding:10px;
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    height:max-content;
  }
  .intro-title-div {
    /* border: solid 1px lightblue; */
    color:white;
    padding:5px;
    grid-column:2/span 47;
    width:100%;
    grid-row:4/span 20;
    text-align:center;
  }
  .intro-title-grid {
    display:grid;
    grid-template-columns: repeat(15, 5%);
    grid-template-rows: repeat(10, 10%);
    width:100vw;
  }
  .link-box {
    position:sticky;
    top: 0;
    z-index:1000;
    display:flex;
    flex-direction:row;
    padding:5px 5px 5px 5px;
    margin-right:-4px;
    background-color:#ffffff;
    font-size:calc(1vw + 1vh + 0.5em);
    font-kerning:auto;
    letter-spacing:0.0mm;
  }
  .map-container {
    width:80vw;
    height:50vh;
    margin-left:3vw;
    /* border:2px solid green;
    background-color: transparent; */
  }
  .narrow-family-text {
    grid-column:3/span 60;
    text-align: center;
    font-size:calc(1.5vh + 1.5vw + 0.5em);
  }
  .title-text {
    font-size:calc(1.5vh + 1.5vw + 1.5em);
    color:white;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px;
    grid-column:3/span 20;
    grid-row:3/span 10;
    width:100%;
    text-align:left;
    margin-right:50px;
  }
  .values-list {
    font-size:1em;
    margin-left:10vw;
  }
  .welcome-text {
    font-size:calc(1vh + 1vw + 1em);
    text-align:center;
  }
  .white-subheader {
    font-size: 1em;
    word-wrap: break-word;
  }
}
