You can add global styles to this file, and also import other style files
html {
  scroll-behavior: smooth;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  background-color: transparent;
  font-family: 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

img {
  border-radius:0;
  object-fit: cover;
}

img:hover {
  z-index: 1;
}
  
p {
  margin: 0;
}

.page-layout {
  min-height:100%;
  min-width:1000px;
  background-attachment: fixed;
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:cover;
}

.title-grid-layout {
  border: transparent 2px solid;
  color:white;
  padding:5px;
  grid-column:49/span 47;
  width:100%;
  grid-row:4/span 20;
  text-align:center;
}

.text-grid-layout {
  border: transparent 2px solid;
  min-width:555px;
  padding:5px;
  background-color:transparent;
  color:white;
  grid-column:50/span 47;
  grid-row:25/span 20;
  width:fit-content;
  height:max-content;
}

.outlined-text-brown {
  color:brown;
  
}

.background-image-church-family {
  background-image:url('../src/assets/img/AnivMed.jpg');
  background-position: bottom center;
  background-size:cover;
  filter:brightness(100%);
  background-color:white;
  height:105%;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
}
.background-image-global-family {
  background-image:url('../src/assets/img/CongoChurchService.JPG');
  background-position: bottom center;
  background-size:cover;
  filter:brightness(100%);
  background-color:white;
  height:103%;
  background-repeat:no-repeat;
  background-color:transparent;
  background-attachment:fixed;
}
.link-button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  padding: 0 20px;
  text-align:left;
  margin-top:-13px
}
.link-button:hover {
  text-decoration: underline;
}
.link-box {
  display:flex;
  flex-direction:row;
  font-size:25pt;
  padding:15px;
  background-color:#ffffffaa;
  grid-column:1/span 100;
  grid-row:1/span 3;
}
.text-outline-blue {
  text-shadow:2px 2px 2px darkblue, -2px -2px 2px darkblue, -2px 2px 2px darkblue, 2px -2px 2px darkblue;
}
.text-outline-white {
  text-shadow:2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
}
.text-outline-brown {
  text-shadow:2px 2px 2px brown, -2px -2px 2px brown, -2px 2px 2px brown, 2px -2px 2px brown;
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.background-image {
  background-image: url('src/assets/img/tower_Painting.Color.svg');
  background-position: bottom center 50% 50%;
  background-size:cover;
  filter:brightness(100%);
  background-color:white;
}

.background-image-main {
  background-image: url('src/assets/img/StPaulChurchWideView.jpeg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:center;

}

.text-behind {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8))
}

.pad-content {
  padding: 20px;
}

.spacer {
  flex: 1;
}

.grid-inline-container {
  display:inline-grid;
  position:relative;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
  grid: gap 0;
  width:100%;
  height:100%;
}

.img-class {
  width:105%;
  height:105%;
}

#main {
  width:97vw;
  height:96vh;
}

.img-size {
  width:105%;
  height:105%;
  position:relative;
  text-align:center;
  color:black;
}

.darken {
  filter: brightness(40%);
}

.radial-gradient {
  position:absolute;
  padding:10px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(ellipse, white 0%, white 20%, transparent 50%, transparent 100%);
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
 
.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

/* a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
} */

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.full-page {
  height:100vh;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
